@media (min-width: 987px) {

  main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;

    .container-2{
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .container-1{
      inline-size: 383px;
      block-size: 535px;

      .item-2{
        margin-block-end: 100px;
      }
    }
  }

  footer{
    margin-block-start: 20px;
  }

}
