@media (max-width: 986px) {

  .container-1{
    inline-size: 350px;
    block-size: 489px;
    margin-inline-start: 10px;
    margin-inline-end: 5px;
    margin-block-start: 40px;
  }

  footer{
      margin-block-start: 40px;
  }

}
